# Copy this file to .env locally and fill in your real secrets.
# Do not commit .env to GitHub.

SERVER_PORT=8081
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/elearning_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=admin123

EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_USERNAME=
EMAIL_PASSWORD=
SMTP_AUTH=false
SMTP_STARTTLS=false

PAYU_MERCHANT_KEY=TS0V51
PAYU_MERCHANT_SALT=e84Hb4r5Rk0zkk6nYeBanMdk0XPKov4Y
PAYU_BASE_URL=https://test.payu.in
PAYU_SUCCESS_URL=http://localhost:8080/api/v1/payment/success
PAYU_FAILURE_URL=http://localhost:8080/api/v1/payment/failure
